.DepositPage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    flex-direction: column;
    background-color:rgb(228, 227, 227);
    width: 90%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    color: black
}

.DepositPageDark{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    flex-direction: column;
    background-color: #42417A;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.DepositPage input{
    width: 40%;
    height: 12%;
    font-size: 18px;
    background-color: gray;
    outline:none;
    padding:10px;
    color:white;
    border-radius: 5px;
}

.DepositPage input::placeholder{
    color:lightgray;
}

.DepositPageDark input{
    width: 40%;
    height: 12%;
    font-size: 18px;
    background-color:#1F1F45;
    outline:none;
    padding:10px;
    color:white;
    border-radius: 5px;
}

.DepositPage button{
    font-weight: bold;
    width: 40%;
    height: 13%;
    border-radius: 10px;
    background-color: #6259E8;
    border: none;
    font-size: 16px;
    color:white;
    transform: scale(1);
    transition: 120ms;
    cursor: pointer;
}

.DepositPageDark button{
    font-weight: bold;
    width: 40%;
    height: 13%;
    border-radius: 10px;
    background-color: #6259E8;
    border: none;
    font-size: 16px;
    color:white;
    transform: scale(1);
    transition: 120ms;
    cursor: pointer;
}

.DepositPage button:hover{
    transform: scale(1.06);
}

.DepositPage button:active{
    transform: scale(0.9);
}