.LogOutWarning{
    display: flex;
    width:400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: lightgray;
    position: absolute;
    top:30%;
    left:35%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.LogOutWarningButtons{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    gap:40px
}

.LogOutWarningButtons button{
    width:25%;
    height: 40%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color:#6259E8;
    color:white
}


.LogOutWarningDark{
    display: flex;
    width:400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color:#42417A;
    position: absolute;
    top:30%;
    left:35%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

.LogOutWarningButtonsDark{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    gap:40px
}

.LogOutWarningButtonsDark button{
    width:25%;
    height: 40%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color:#6259E8;
    color:white
}
